.left-nav {
    position: fixed ;
}

.course-list {
    text-decoration: none;
}

@media only screen and ( max-width: 980px) {
    .left-nav {
        position: relative;
        margin-bottom: 20px;
    }
}
